 <!-- Hero Section Start -->
 <div class="hero parallaxie">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Hero Content Start -->
                <div class="hero-content">
                    <!-- Section Title Start -->
                    <div class="section-title dark-section">
                        <h3 class="wow fadeInUp">transform your home today</h3>
                        <h1 class="text-anime-style-3" data-cursor="-opaque">Premium windows & doors for every home</h1>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Discover a wide range of beautifully crafted windows and doors that combine modern design with superior functionality.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Hero Buttons Start -->
                    <div class="hero-btn wow fadeInUp" data-wow-delay="0.4s">
                        <a href="contact" class="btn-default">get a quote</a>
                        <a href="about" class="btn-default btn-highlighted">learn more</a>
                    </div>
                    <!-- Hero Buttons End -->

                    <!-- Hero Content Body Start -->
                    <div class="hero-content-body">
                        <!-- Satisfy Client Image Start -->
                        <div class="satisfy-client-images">
                            <div class="satisfy-client-img">
                                <figure class="image-anime reveal" style="opacity: 1; visibility: visible;">
                                    <img src="images/satisfy-client-img-1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-img">
                                <figure class="image-anime reveal" style="opacity: 1; visibility: visible;">
                                    <img src="images/satisfy-client-img-2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-img">
                                <figure class="image-anime reveal" style="opacity: 1; visibility: visible;">
                                    <img src="images/satisfy-client-img-3.jpg" alt="">
                                </figure>
                            </div>
                            <div class="satisfy-client-img">
                                <figure class="image-anime reveal" style="opacity: 1; visibility: visible;">
                                    <img src="images/satisfy-client-img-4.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Satisfy Client Image End -->

                        <!-- Hero Counter Box Start -->
                        <div class="hero-counter-box">
                            <p>More than <span class="counter">1</span>K+ trusted customers</p>
                        </div>
                        <!-- Hero Counter Box End -->
                    </div>
                    <!-- Hero Content Body End -->
                </div>
                <!-- Hero Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->

<!-- About Us Section Start -->
<div class="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- About Us Image Start -->
                <div class="about-us-image">
                    <!-- About Image Start -->
                    <div class="about-image">
                        <figure class="image-anime reveal" style="opacity: 1; visibility: visible;">
                            <img src="images/about-us-img.jpg" alt="">
                        </figure>
                    </div>
                    <!-- About Image End -->

                    <!-- About Customer Box Start -->
                    <div class="about-customer-box">
                        <h2><span class="counter">70</span>%</h2>
                        <p>happy customer</p>
                    </div>
                    <!-- About Customer Box End -->
                </div>
                <!-- About Us Image End -->
            </div>
            
            <div class="col-lg-6">
                <div class="about-us-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">about us</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Expertise in windows & door for every style</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Partner with a company dedicated to excellence in window and door installations, ensuring each project is handled with precision and care. Our commitment is to provide installations that not only meet but exceed your expectations.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- About Item Box Start -->
                    <div class="about-item-box">
                        <!-- About Us Item Start -->
                        <div class="about-us-item wow fadeInUp" data-wow-delay="0.4s">
                            <div class="icon-box">
                                <img src="images/icon-about-item-1.svg" alt="">
                            </div>    
                            <div class="about-item-content">
                                <h3>our mission</h3>
                                <p>We aim to transform homes and businesses with high-quality window and door solutions that enhance aesthetics, improve energy efficiency.</p>
                            </div>
                        </div>
                        <!-- About Us Item End -->

                        <!-- About Us Item Start -->
                        <div class="about-us-item wow fadeInUp" data-wow-delay="0.6s">
                            <div class="icon-box">
                                <img src="images/icon-about-item-2.svg" alt="">
                            </div>    
                            <div class="about-item-content">
                                <h3>our vision</h3>
                                <p>We believe in integrity and sustainability. Our focus is on delivering not just products but solutions that improve homes, reduce energy.</p>
                            </div>
                        </div>
                        <!-- About Us Item End -->
                    </div>
                    <!-- About Item Box End -->

                    <!-- About Us Button Start -->
                    <div class="about-us-btn wow fadeInUp" data-wow-delay="0.8s">
                        <a href="about" class="btn-default">read more</a>
                    </div>
                    <!-- About Us Button End -->
                </div>
            </div>

            <div class="col-lg-12">
                <!-- About Facility Box Start -->
                <div class="about-facility-box">
                    <!-- About Facility Item Start -->
                    <div class="about-facility-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-about-facility-1.svg" alt="">
                        </div>
                        <div class="about-facility-content">
                            <p>Energy saving technologies</p>
                        </div>
                    </div>
                    <!-- About Facility Item End -->
                    
                    <!-- About Facility Item Start -->
                    <div class="about-facility-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="images/icon-about-facility-2.svg" alt="">
                        </div>
                        <div class="about-facility-content">
                            <p>Excellent sound insulation</p>
                        </div>
                    </div>
                    <!-- About Facility Item End -->

                    <!-- About Facility Item Start -->
                    <div class="about-facility-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="images/icon-about-facility-3.svg" alt="">
                        </div>
                        <div class="about-facility-content">
                            <p>High light trans-mitions</p>
                        </div>
                    </div>
                    <!-- About Facility Item End -->

                    <!-- About Facility Item Start -->
                    <div class="about-facility-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon-box">
                            <img src="images/icon-about-facility-4.svg" alt="">
                        </div>
                        <div class="about-facility-content">
                            <p>Durability 10 years warranty</p>
                        </div>
                    </div>
                    <!-- About Facility Item End -->

                    <!-- About Facility Item Start -->
                    <div class="about-facility-item wow fadeInUp" data-wow-delay="0.8s">
                        <div class="icon-box">
                            <img src="images/icon-about-facility-5.svg" alt="">
                        </div>
                        <div class="about-facility-content">
                            <p>Eco - friendly materials</p>
                        </div>
                    </div>
                    <!-- About Facility Item End -->

                    <!-- About Facility Item Start -->
                    <div class="about-facility-item wow fadeInUp" data-wow-delay="1s">
                        <div class="icon-box">
                            <img src="images/icon-about-facility-6.svg" alt="">
                        </div>
                        <div class="about-facility-content">
                            <p>Modern thoughtful design</p>
                        </div>
                    </div>
                    <!-- About Facility Item End -->
                </div>
                <!-- About Facility Box End -->
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->

<!-- Our Service Section Start -->
<div class="our-services">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">our services</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Comprehensive window & door services</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Title Content Start -->
                <div class="section-title-content">
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Partner with a company dedicated to excellence in window and door installations, ensuring each project is handled with precision and care.</p>
                </div>
                <!-- Section Title Content End -->
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 order-lg-1 order-md-1">
                <!-- Service Content Box Start -->
                <div class="service-content-box">
                    <!-- Service Box Item Start -->
                    <div class="service-box-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-service-item-1.svg" alt="">
                        </div>
                        <div class="service-item-content">
                            <h3>custom window installation</h3>
                            <p>Expertly crafted windows tailored to your specific needs.</p>
                        </div>
                    </div>
                    <!-- Service Box Item End -->

                    <!-- Service Box Item Start -->
                    <div class="service-box-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="images/icon-service-item-2.svg" alt="">
                        </div>
                        <div class="service-item-content">
                            <h3>door instalation & replacement</h3>
                            <p>High-quality doors designed for security and style.</p>
                        </div>
                    </div>
                    <!-- Service Box Item End -->

                    <!-- Service Box Item Start -->
                    <div class="service-box-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="images/icon-service-item-3.svg" alt="">
                        </div>
                        <div class="service-item-content">
                            <h3>energy-efficient solutions</h3>
                            <p>Windows and doors that enhance energy savings, year-round.</p>
                        </div>
                    </div>
                    <!-- Service Box Item End -->
                </div>
                <!-- Service Content Box End -->
            </div>

            <div class="col-lg-4 order-lg-2 order-md-3">
                <!-- Service Box Image Start -->
                <div class="service-box-image">
                    <img src="images/service-img.png" alt="">
                </div>
                <!-- Service Box Image End -->
            </div>

            <div class="col-lg-4 col-md-6 order-lg-3 order-md-2">
                <!-- Service Content Box Start -->
                <div class="service-content-box">
                    <!-- Service Box Item Start -->
                    <div class="service-box-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-service-item-4.svg" alt="">
                        </div>
                        <div class="service-item-content">
                            <h3>window & door repair</h3>
                            <p>Reliable repairs ensuring long-lasting functionality and aesthetics.</p>
                        </div>
                    </div>
                    <!-- Service Box Item End -->

                    <!-- Service Box Item Start -->
                    <div class="service-box-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="images/icon-service-item-5.svg" alt="">
                        </div>
                        <div class="service-item-content">
                            <h3>consultation & design services</h3>
                            <p>Personalized guidance to match your home's unique style.</p>
                        </div>
                    </div>
                    <!-- Service Box Item End -->

                    <!-- Service Box Item Start -->
                    <div class="service-box-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="images/icon-service-item-6.svg" alt="">
                        </div>
                        <div class="service-item-content">
                            <h3>commercial windows & doors</h3>
                            <p>Durable, efficient solutions for businesses of all sizes.</p>
                        </div>
                    </div>
                    <!-- Service Box Item End -->
                </div>
                <!-- Service Content Box End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Service Section End -->

<!-- Our Work Section Start -->
<div class="our-work">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Our Work Image Start -->
                <div class="our-work-image">
                    <div class="our-work-img-1">
                        <figure class="image-anime reveal" style="opacity: 1; visibility: visible;">
                            <img src="images/our-work-img-1.jpg" alt="">
                        </figure>
                    </div>
                    <div class="our-work-img-2">
                        <figure class="image-anime reveal" style="opacity: 1; visibility: visible;">
                            <img src="images/our-work-img-2.jpg" alt="">
                        </figure>
                    </div>
                </div>
                <!-- Our Work Image End -->
            </div>

            <div class="col-lg-6">
                <!-- Our Work Content Start -->
                <div class="our-work-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">why work with us</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Why we're the right choice for your home</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">Partner with a company dedicated to excellence in window and door installations, ensuring each project is handled with precision and care.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Work Content Body Start -->
                    <div class="work-content-body">
                        <div class="our-work-list wow fadeInUp" data-wow-delay="0.4s">
                            <ul>
                                <li>unmatched quality</li>
                                <li>expert craftsmanship</li>
                                <li>customized solutions</li>
                                <li>energy efficiency</li>
                            </ul>
                        </div>
                        <div class="our-work-btn wow fadeInUp" data-wow-delay="0.6s">
                            <a href="contact" class="btn-default">learn more</a>
                        </div>
                    </div>
                    <!-- Work Content Body End -->

                    <!-- Work Counters List Start -->
                    <div class="work-counter-list">
                        <div class="work-counter-item">
                            <h3><span class="counter">98</span>%</h3>
                            <p>successful client</p>
                        </div>

                        <div class="work-counter-item">
                            <h3><span class="counter">1500</span>+</h3>
                            <p>solutions delivered</p>
                        </div>

                        <div class="work-counter-item">
                            <h3><span class="counter">12</span>+</h3>
                            <p>years of experience</p>
                        </div>
                    </div>
                    <!-- Work Counters List End -->
                </div>
                <!-- Our Work Content End -->
            </div>

            <div class="col-lg-12">
                <!-- Our Facilitity List Start -->
                <div class="work-facility-list">
                    <!-- Our Facilitity Item Start -->
                    <div class="work-facility-item wow fadeInUp">
                        <div class="icon-box">
                            <img src="images/icon-work-facility-1.svg" alt="">
                        </div>
                        <div class="work-facility-content">
                            <h3>free shipping</h3>
                            <p>Free shipping over $100</p>
                        </div>
                    </div>
                    <!-- Our Facilitity Item End -->

                    <!-- Our Facilitity Item Start -->
                    <div class="work-facility-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon-box">
                            <img src="images/icon-work-facility-2.svg" alt="">
                        </div>
                        <div class="work-facility-content">
                            <h3>payment secure</h3>
                            <p>Get 100% payment safe</p>
                        </div>
                    </div>
                    <!-- Our Facilitity Item End -->

                    <!-- Our Facilitity Item Start -->
                    <div class="work-facility-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-box">
                            <img src="images/icon-work-facility-3.svg" alt="">
                        </div>
                        <div class="work-facility-content">
                            <h3>support 24/7</h3>
                            <p>Quality 24/7 support</p>
                        </div>
                    </div>
                    <!-- Our Facilitity Item End -->

                    <!-- Our Facilitity Item Start -->
                    <div class="work-facility-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon-box">
                            <img src="images/icon-work-facility-4.svg" alt="">
                        </div>
                        <div class="work-facility-content">
                            <h3>100% money back</h3>
                            <p>Customers money back</p>
                        </div>
                    </div>
                    <!-- Our Facilitity Item End -->
                </div>
                <!-- Our Facilitity List End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Work Section End -->


<!-- Work Gallery Section Start -->
<div class="work-gallery">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">work gallery</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">See our windows and doors in action</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Title Content Start -->
                <div class="section-title-content">
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Explore our gallery of completed window and door projects to see the quality craftsmanship and attention to detail we bring to every installation.</p>
                </div>
                <!-- Section Title Content End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Work Gallery Item Start -->
                <div class="work-gallery-item wow fadeInUp">
                    <div class="work-gallery-img">
                        <a  data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/work-gallery-img-1.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="work-gallery-content">
                        <h3><a >elegant bay a windows upgrades</a></h3>
                    </div>
                </div>
                <!-- Work Gallery Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Work Gallery Item Start -->
                <div class="work-gallery-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="work-gallery-img">
                        <a  data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/work-gallery-img-2.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="work-gallery-content">
                        <h3><a >modern sliding window installation</a></h3>
                    </div>
                </div>
                <!-- Work Gallery Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Work Gallery Item Start -->
                <div class="work-gallery-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="work-gallery-img">
                        <a  data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/work-gallery-img-3.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="work-gallery-content">
                        <h3><a >energy-efficient window replacement</a></h3>
                    </div>
                </div>
                <!-- Work Gallery Item End -->
            </div>
        </div>
    </div>
</div>
<!-- Work Gallery Section End -->

<!-- Our Faqs Section Start -->
<div class="our-faqs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Our Faq Image Start -->
                <div class="our-faqs-img">
                    <figure class="image-anime reveal" style="opacity: 1; visibility: visible;">
                        <img src="images/our-faqs-img.jpg" alt="">
                    </figure>
                </div>
                <!-- Our Faq Image End -->
            </div>

            <div class="col-lg-6">
                <!-- Our Faqs Content Start -->
                <div class="our-faqs-content">
                    <!-- Section Title Start -->
                    <div class="section-title dark-section">
                        <h3 class="wow fadeInUp">frequently asked questions</h3>
                        <h2 class="text-anime-style-3" data-cursor="-opaque">Answers to your most asked questions</h2>
                    </div>
                    <!-- Section Title End -->

                    <!-- FAQ Accordion Start -->
                    <div class="faq-accordion" id="accordion">
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    <span>1.</span> What types of windows do you offer?
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>We offer a wide variety of windows, including double-hung, casement, sliding, bay, and custom-designed windows.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    <span>2.</span> How long does window installation take?
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>We offer a wide variety of windows, including double-hung, casement, sliding, bay, and custom-designed windows.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    <span>3.</span> Are your windows energy-efficient?
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>We offer a wide variety of windows, including double-hung, casement, sliding, bay, and custom-designed windows.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->

                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    <span>4.</span> Do you offer custom window and door sizes?
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>We offer a wide variety of windows, including double-hung, casement, sliding, bay, and custom-designed windows.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                        
                        <!-- FAQ Item Start -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    <span>5.</span> How do I maintain my windows and doors?
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <p>We offer a wide variety of windows, including double-hung, casement, sliding, bay, and custom-designed windows.</p>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ Item End -->
                    </div>
                    <!-- FAQ Accordion End -->
                </div>
                <!-- Our Faqs Content End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Faqs Section End -->

<!-- Latest News Section Start -->
<div class="latest-news">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">latest news</h3>
                    <h2 class="text-anime-style-3" data-cursor="-opaque">Expert tips and insights for windows and doors</h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Title Content Start -->
                <div class="section-title-content">
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Stay informed with professional advice, design trends, and practical solutions for enhancing your home's windows and doors.</p>
                </div>
                <!-- Section Title Content End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a href="blog-single"  data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/post-1.jpg" alt="">                                
                            </figure>   
                        </a>                            
                    </div>
                    <!-- Post Featured Image End -->

                    <!-- post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a >Enhancing Energy Efficiency in Door Design</a></h2>
                            <p>Discover eco-friendly door solutions that improve insulation and reduce energy costs…</p>
                        </div>
                        <!-- Post Item Content End-->

                        <!-- Post Item Button Start-->
                        <div class="post-item-btn">
                            <a >Read more</a>
                        </div>
                        <!-- Post Item Button End-->
                    </div>
                    <!-- post Item Body End -->
                </div>
                <!-- Post Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a   data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/post-2.jpg" alt="">                                
                            </figure>   
                        </a>
                    </div>
                    <!-- Post Featured Image End -->

                    <!-- post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a >Exploring the Latest Trends in Window Aesthetics and Styles</a></h2>
                            <p>From classic to contemporary, see how different styles enhance your home's appeal…</p>
                        </div>
                        <!-- Post Item Content End-->

                        <!-- Post Item Button Start-->
                        <div class="post-item-btn">
                            <a >Read more</a>
                        </div>
                        <!-- Post Item Button End-->
                    </div>
                    <!-- post Item Body End -->
                </div>
                <!-- Post Item End -->
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Post Item Start -->
                <div class="post-item wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Post Featured Image Start-->
                    <div class="post-featured-image">
                        <a   data-cursor-text="View">
                            <figure class="image-anime">
                                <img src="images/post-3.jpg" alt="">                                
                            </figure>   
                        </a>
                    </div>
                    <!-- Post Featured Image End -->

                    <!-- post Item Body Start -->
                    <div class="post-item-body">
                        <!-- Post Item Content Start -->
                        <div class="post-item-content">
                            <h2><a >Durable Materials for Lasting Window Frames</a></h2>
                            <p>Learn about materials like aluminum and wood, each bringing unique benefits…</p>
                        </div>
                        <!-- Post Item Content End-->

                        <!-- Post Item Button Start-->
                        <div class="post-item-btn">
                            <a >Read more</a>
                        </div>
                        <!-- Post Item Button End-->
                    </div>
                    <!-- post Item Body End -->
                </div>
                <!-- Post Item End -->
            </div>
        </div>
    </div>
 </div>
<!-- Latest News Section End -->
